.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    background-color: rgba(189, 163, 213, 0.5);
    height: 300px;
    width: 400px;   
    border-radius: 10px;
    border: 2px solid rgb(189, 163, 213);
    margin: 100px auto;

}

.num{
    font-size: 50px;
    color: rgb(0, 0, 0);
    background-color: rgb(189, 163, 213);
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;     

    
}
button{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;    

}
.btn{
    display: flex;
    justify-content: center;
    gap: 20px;
}